<div class="code">
    <div class="code__numbers">
        <div class="code__header">
        <div class="code__header__text">Taper votre code</div>
          <ul class="list-inline">
            <li class="code__header__dot-1 empty">•</li>
            <li class="code__header__dot-2 empty">•</li>
            <li class="code__header__dot-3 empty">•</li>
            <li class="code__header__dot-4 empty">•</li>
          </ul>
        </div>
    </div>
    <div class="code__numbers">
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">7</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">8</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">9</button>
        </div>
    </div>
    <div class="code__numbers">
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">4</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">5</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">6</button>
        </div>

    </div>
    <div class="code__numbers">
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">1</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">2</button>
        </div>
        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">3</button>
        </div>

    </div>
    <div class="code__numbers">

        <div class="code__num">
            <button type="button" class="btn btn-default code__btn numero">0</button>
        </div>
    </div>
    <a href="#" class="code__done js-done">Retour</a>
    <a href="#" class="code__del js-del">Effacer</a>
    <a href="#" class="code__ok js-done">OK</a>
</div>

<div class="code-bg"></div>


<script>
  $(".code__btn").click(function(){
      var number = $(this).text();

      if ($(".code__header__dot-1").hasClass("empty")) {
          $(".code__header__dot-1").text(number).removeClass("empty");
      }
      else if ($(".code__header__dot-2").hasClass("empty")) {
        $(".code__header__dot-2").text(number).removeClass("empty");
      }
      else if ($(".code__header__dot-3").hasClass("empty")) {
        $(".code__header__dot-3").text(number).removeClass("empty");
      }
      else if ($(".code__header__dot-4").hasClass("empty")) {
        $(".code__header__dot-4").text(number).removeClass("empty");
          location.href='/fiche/cuisses-fessiers.html';
      }
  });

  $(".js-del").click(function(){
      $(".code__header__dot-1").text("•").addClass("empty");
      $(".code__header__dot-2").text("•").addClass("empty");
      $(".code__header__dot-3").text("•").addClass("empty");
      $(".code__header__dot-4").text("•").addClass("empty");
  });

  $(".js-done").click(function(){
      $(".code").fadeOut();
      $(".code-bg").fadeOut();
  });
</script>
