<div class="pop-loader">
  <div class="pop-loader__wrap">
    <%= image_tag "loader.png", :class => "pop-loader__loading" %>
    <div>
      <%= image_tag "sigle.png", :class => "pop-loader__logo" %>
      <div class="pop-loader__text">Merci <br> de patienter</div>
    </div>
  </div>
</div>
