.btn {
  font-family: $gotham-book;
  font-size: 18px;
  letter-spacing: -0.9px;
  line-height: 24px;
	padding: 30px;
	transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  max-width: 310px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  text-align: left;
  &__icon {
    margin-right: 15px;
  }
  &-default-2 {
    border: 3px solid #7F7F7F;
    background:#fff;
    text-align: center;
    justify-content: center;
    color: #7F7F7F;
    &:active, &:focus, &:hover {
      color: #7F7F7F;
    }
  }
  &-white {
    border: 3px solid #fff;
    background:#fff;
    justify-content: center;
    font-family: $gotham-medium;
    font-size: 18px;
    color: #212B31;
    letter-spacing: -0.9px;
    line-height: 24px;
    &:active, &:focus, &:hover {
      color: #7F7F7F;
    }
  }
  &--text-center {
    text-align: center;
    justify-content: center;
  }
}
