.card {
	text-decoration: none;
	background: #FFFFFF;
  border-radius: 6px;
  height: 212px;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);
  &__link {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
  }
	&__title {
		color: $grey;
	}
  &__number {
    position: absolute;
    font-family: $bebas-bold;
    left: 20px;
    top: 20px;
    color: #fff;
  }
	&__content {
    background: #fff;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 15px;
  }
  &__time {
    position: absolute;
    top: -40px;
    right: 30px;
    background: #fff;
    border: solid 3px rgba(224, 0, 105, .15);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    color: rgba(224, 0, 105, 1);
    font-family: $bebas-bold;
    font-size: 24px;
  }
  &__description {
    width: 70%;
  }
  &__difficulty {
    position: absolute;
    right: 45px;
    top: 25px;
  }
}
