.card-animation {
  @extend .animated;
  @extend .bounceInRight;
  animation-duration: 0.5s !important;
  &:nth-child(1) {
    animation-delay:0s;
  }
  &:nth-child(2) {
    animation-delay:0.1s;
  }
  &:nth-child(3) {
    animation-delay:0.2s;
  }
  &:nth-child(4) {
    animation-delay:0s;
  }
  &:nth-child(5) {
    animation-delay:0.1s;
  }
  &:nth-child(6) {
    animation-delay:0.2s;
  }
  &:nth-child(7) {
    animation-delay:0s;
  }
  &:nth-child(8) {
    animation-delay:0.1s;
  }
  &:nth-child(9) {
    animation-delay:0.2s;
  }
}

.card {
	text-decoration: none;
	background: #FFFFFF;
  border-radius: 6px;
  height: $card-height;
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  box-shadow: 0 1px 4px 0 rgba(0,0,0,0.20);

  &__link {
    position: absolute;
    top: 0;
    bottom:0;
    left: 0;
    right: 0;
    z-index: 9999999999;
  }
	&__title {
    margin-bottom: 7px;
    font-family: $gotham-bold;
    font-size: 16px;
    color: #212B32;
    letter-spacing: 0;
	}
  &__number {
    position: absolute;
    font-family: $bebas-bold;
    left: 15px;
    top: 15px;
    font-size: 16px;
    letter-spacing: 0.44px;
    color: #fff;
  }
	&__content {
    background: #fff;
    position: absolute;
    bottom: 0;
    height: 82px;
    left: 0;
    right: 0;
    padding: 15px 0 0 28px;
  }
  &__time {
    position: absolute;
    top: -25px;
    right: 30px;
    background: #fff;
    border: solid 3px rgba(224, 0, 105, .15);
    border-radius: 50%;
    background-clip: padding-box;
    width: 50px;
    height: 50px;
    line-height: 45px;
    text-align: center;
    color: rgba(224, 0, 105, 1);
    font-family: $bebas-bold;
    font-size: 24px;
  }
  &__description {
    width: 70%;
    font-family: $gotham-medium;
    font-size: 14px;
    color: #7B7B7B;
    letter-spacing: 0;
    line-height: 16px;
  }
  &__difficulty {
    position: absolute;
    right: 45px;
    top: 35px;
  }
}
