.difficulty-icon {
  &--white {
    svg {
      transform: scaleY(1.5);
    }
    #level_1, #level_2, #level_3 {
      fill:#fff;
      transform-origin: bottom;
    }
    &.difficulty-icon__level-1 {
        #level_2, #level_3 {
          fill:#fff;
          opacity: .2;
        }
    }
    &.difficulty-icon__level-2 {
        #level_3 {
          fill:#fff;
          opacity: .2;
        }
    }
    &.difficulty-icon__level-3 {
    }
  }

  &--pink {
    #level_1, #level_2, #level_3 {
      fill: rgba(0,0,0,0.20);
    }
    &.difficulty-icon__level-1 {
      #level_1 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-2 {
      #level_1, #level_2 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-3 {
      #level_1, #level_2, #level_3 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
  }
  &--pink-2 {
    #level_1, #level_2, #level_3 {
      fill: rgba(255,255,255,0.36);
    }
    &.difficulty-icon__level-1 {
      #level_1 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-2 {
      #level_1, #level_2 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-3 {
      #level_1, #level_2, #level_3 {
        fill:$pink;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
  }
  &--green {
    #level_1, #level_2, #level_3 {
      fill: rgba(0,0,0,0.20);
    }
    &.difficulty-icon__level-1 {
      #level_1 {
        fill:$green;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-2 {
      #level_1, #level_2 {
        fill:$green;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
    &.difficulty-icon__level-3 {
      #level_1, #level_2, #level_3 {
        fill:$green;
        transform: scaleX(1.2);
        transform-origin: center;
      }
    }
  }
}
