.filter {
  background: #F3F3F3;
  box-shadow: 0 1px 5px 0 rgba(33,43,50,0.30);
  margin-left: -$sidebar-padding;
  margin-right: -$sidebar-padding;
  position: relative;

  &__description {
    float: left;
    width:325px;
    padding: 30px 0 30px 85px;
    font-family: $have-heart;
    font-size: 30px;
    color: #212B31;
    position: relative;
    line-height: 25px;
    img {
      position: absolute;
      right: 20px;
      top: 30px;
    }
  }
  &__reset {
    font-family: $gotham-book;
    font-size: 18px;
    color: #FFFFFF;
    height: 48px;
    line-height: 48px;
    margin-top: 5px;
    text-transform: uppercase;
    background: #B7B7B7;
    border-radius: 24px;
    padding: 5px 20px;
    letter-spacing: 0;
    display: inline-block;
    &:hover, &:active {
      color: #fff;
      text-decoration: none;
    }
    svg {
      margin-right: 10px;
      margin-top: 5px;
      float: left;
    }
    span {
      margin-top: -2px;
      float: left;
    }
  }
  &__nav {
    display: flex;

    li {
      background:#fff;
      display: inline-block;
      margin: 0;
      padding: 0;
      width:20%;
      border-right: solid 1px #eee;
      text-align: center;
      position: relative;
      font-family: $gotham-book;
      font-size: 14px;
      color: #212B32;
      letter-spacing: 0;
      .filter__item {
        color: #000;
        height: 110px;
        width: 100%;
        display: block;
        background-repeat: no-repeat;
        background-position: center 60px;
        text-decoration: none;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &:active {
          #categorie {
            rect {
              stroke: #000;
              fill: #B2B2B2;
            }
          }
        }
        &__text {
          position: absolute;
          top: 20px;
          left: 0;
          right: 0;
        }
        &__icon {
          position: absolute;
          bottom: 25px;
          left: 0;
          right: 0;
        }

        &.filter__item--difficulty {
          // make the svg icon taller
          svg {
            transform-origin: top;
            transform: scaleY(1.5);
          }
          rect {
            transform: scaleX(1) !important;
          }
          // when the difficulty icon is selected in the .filter nav

          .difficulty-icon__level-1{
            #level_1 {
              fill: $green;
              opacity: 1;
            }
            #level_2, #level_3 {
              fill:rgba(0, 0, 0, 0.2);
              stroke: none;
            }
          }
          .difficulty-icon__level-2{
            #level_1, #level_2 {
              fill: $green;
              opacity: 1;
            }
            #level_3 {
              fill:rgba(0, 0, 0, 0.2);
              stroke: none;
            }
          }
          .difficulty-icon__level-3{
            #level_1, #level_2, #level_3 {
              fill: $green;
              opacity: 1;
            }
          }
        }

        svg {
          path {
            fill: #000;
          }
        }

        &.selected {
          border-bottom: solid 4px $green;
          top: 4px;
          position: relative;
          .filter__item__text{
            top: 15px;
          }
          &.filter__item--difficulty {
            svg {
              position: relative;
              top: 5px;
            }
          }

        }
        .teacher-img {
          border-radius: 50%;
          border: solid 5px $green;
          width: 50px;
          height: 50px;
          position: absolute;
          top: 43px;
          display: none;
        }


        .icon-wrap {
          width: 60px;
          height: 60px;
          position: absolute;
          display: flex;
          align-items: center;
          justify-content: center;
          bottom: 15px;

          // base color icons in green
          svg {
            width: 60px;
            path {
              fill: $green;
              stroke: $green;
              stroke-width: 0.4px;
            }
            rect {
              stroke: $green;
              fill: #fff;
            }
            use {
              fill: #fff !important;
            }
          }


          // special treatment for categorie icon (this id is the svg)
          #categorie {
            rect {
              stroke: $green;
              fill: #fff;
            }
          }
        }


        &[aria-expanded="true"] {
          background-color: $green;
          color: #fff;
          top: 0;
          position: absolute;
          height: 120px;
          &:active {
            #categorie {
              rect {
                stroke: #fff;
                fill: $green;
              }
            }
          }
          .difficulty-icon__level-1{
            #level_1 {
              fill: #fff;
              opacity: 1;
            }
            #level_2, #level_3 {
              fill:rgba(0, 0, 0, 0.2);
              stroke: none;
            }
          }
          .difficulty-icon__level-2{
            #level_1, #level_2 {
              fill: #fff;
              opacity: 1;
            }
            #level_3 {
              fill:rgba(0, 0, 0, 0.2);
              stroke: none;
            }
          }
          .difficulty-icon__level-3{
            #level_1, #level_2, #level_3 {
              fill: #fff;
              opacity: 1;
            }
          }

          &.filter__item--difficulty {
            svg {
              opacity:.5;
            }

          }
          &.filter__item--categorie {
            rect {
              stroke: #fff;
              fill: $green;
            }
            use {
              fill: $green;
            }
          }
          svg {
            path, rect {
              fill: #fff;
            }
          }
          .icon-wrap {
            width: 60px;
            height: 60px;
            // border-radius: 50%;
            position: absolute;
            // top: 13px;
            display: flex;
            align-items: center;
            justify-content: center;
            // position: relative;
            // background:$green;
            bottom: 15px;
            // transform: scale(.7);
            // transform-origin: bottom;

            // base color icons in green
            svg {
              width: 60px;
              path {
                fill: #fff;
                stroke: white;
                stroke-width: 0.4px;
              }
              rect {
                stroke: #fff;
                fill: $green;
              }
              use {
                fill: $green;
              }
            }
          }
        }



        &--code {

          &.active {
            background-image:url("../images/green-circle.png");
            background-size: 50px;
            background-position: center 54px;
            color: #fff;
            font-size: 20px;
            padding: 50px 0 0 12px;
            font-family: $bebas-regular;
            display: block;
            height: 130px;
            margin: 0;
          }
        }
      }
    }
  }

  &__section {
    padding: 40px 48px;
    &__card {
      background: #fff;
      text-align: center;
      height: 145px;
      padding: 20px;
      display: flex;
      justify-content: center;
      align-items:center;
      border-right: solid 1px #CDD4D7;
      border-bottom: solid 1px #CDD4D7;
      transition: background 0.3 ease-in-out;
      background:rgba(255, 255, 255, 1);
      &:active {
        background:rgba(0,0,0,.3);
        .filter__section__card__title {
          color: #fff;
          opacity: 1;
        }
        svg {

          path {
            fill: #fff !important;
          }
          rect {
            stroke: #fff !important;
            fill: $green !important;
          }
          use {
            fill: $green !important;
          }
        }
      }
      &.selected {
        // green circle around selected icon
        background:$green;
        .filter__section__card__title {
          color: #fff;
          opacity: 1;
        }
        svg {

          path {
            fill: #fff !important;
          }
          rect {
            stroke: #fff !important;
            fill: $green !important;
          }
          use {
            fill: $green !important;
          }
        }
        // special treatment for categorie icon (this id is in the svg)
        #categorie {
          stroke: #fff;
        }
      }
      .icon-wrap {
        width: 72px;
        height: 72px;
        border-radius: 50%;
        margin: 0 auto;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        bottom: 20px;
        svg {
          width: 80px;
          // base color icons in green
          path, rect {
            fill: $green;
          }
        }
        // special treatment for categorie icon (this id is the svg)
        #categorie {
          rect {
            stroke: $green;
            fill: #fff;
          }
        }
      }
      img {
        display: block;
        margin: 0 auto 30px;
        border-radius: 50%;
      }
      &.selected {
        img {
          border: solid 4px $green;
        }
      }
      &__title {
        opacity: 0.5;
        font-family: $gotham-medium;
        font-size: 14px;
        color: #212B31;
        letter-spacing: 0;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 27px;
      }
    }
    &__title {
      margin-bottom: 20px;
      margin-left: -7px;
      font-family: $header-font;
      font-size: 24px;
      color: #000000;
      letter-spacing: 0;
      line-height: 28px;
    }
  }
}

// in the difficulties level section make the icon taller, adjust positioning and colorize them
#difficulties {
    .selected {
      .icon-wrap {
        // bottom: 20px !important;
        svg {
          position: relative;
          top: 5px;
          rect {
            fill: #fff !important;
            opacity: .5;
          }
        }
        .difficulty-icon__level-1{
          #level_1 {
            fill: #fff !important;
            opacity: 1;
          }
        }
        .difficulty-icon__level-2{
          #level_1, #level_2 {
            fill: #fff !important;
            opacity: 1;
          }
        }
        .difficulty-icon__level-3{
          #level_1, #level_2, #level_2 {
            fill: #fff !important;
            opacity: 1;
          }
        }
      }
    }
  .icon-wrap {
    bottom:0;
    svg {
      transform: scaleY(1.5);
    }
  }
}

// .teacher-carousel can't be displayed none because it breaks the carousel
// so I've put it in visibility:hidden and position absolute
.teacher-carousel-wrap {
  position: absolute;
  top: 110px;
  left: 273px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  z-index: 0;
  &.active {
    display: block;
    opacity: 1;
  }
}
.teacher-carousel .row.no-gutter{
  border-top: solid 1px #CFD4D7;
  border-left: solid 1px #CFD4D7;
}
.teacher-carousel li[aria-hidden="true"]{
  opacity: .5;
}

// special treatment for the time icon (this class is in the svg)
.time-line {
  fill: black !important;
}


#categories, #difficulties, #time {
  // 1. make each panel above the hidden .teacher-carousel-wrap
  position: relative;
  z-index: 2;
  // 2. adjust margin bottom
  margin-bottom: -40px;
}

// set the sane height of the collapsable container (#teachers) and teachers carousel (.teacher-carousel-wrap)
#teachers {
  .filter__section {
    height: 670px;
  }
}
