.right-slide {
  width: 800px;
  background:#fff;
  padding: 100px;
  position: fixed;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 99999999999;
  box-shadow: 0 2px 24px 0 rgba(33,43,50,0.60);
  &__title {
    font-family: $header-font;
    font-size: 48px;
    color: #212B31;
    letter-spacing: -1px;
    line-height: 52px;
    margin-bottom: 70px;
  }
}

.right-slide-bg {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 999999;
  background: rgba(33,43,50,0.70);
}
