body {
	color: $grey;
	background: #E2E2E2;
  overflow: hidden;
}

h1, h2, h3 {
  font-family: $header-font;
  font-weight: bold;
}

p {
  font-size: 14px
}

a {
  &:active {
    background:rgba(0,0,0,.3);
  }
}
.main-content {
  margin-left: $sidebar-width + $main-content-gutter;
  margin-right: $main-content-gutter;
  &__title {
    font-family: $bebas-regular;
    color: #212B31;
    letter-spacing: 1px;
    font-size: 24px;
  }
  &__section {
    margin-left: 70px;
    margin-top: 55px;
  }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

// Paddings
.padded {
  padding: 5em;
}
// Backgrounds
.bg-white {
	background: #fff;
}
.bg-black {
  background: #4a4a4a;
}
.bg-grey {
  background: #aeaeae;
}
.bg-grey-light {
  background: #eee;
}
.bg-pink {
	background: $pink;
}
.bg-green {
	background: $green;
}
.bg-orange {
	background: $orange;
}
.bg-purple {
	background: $purple;
}
.bg-turquoise {
	background: $turquoise;
}

.text-green {
  color: $green !important;
}

.text-white {
  color: #fff !important;
}

// modal overide
.modal {
}
.modal-backdrop {
  background: rgba(33,43,50,1);
}

.border-radius {
	border-radius: 6px;
}
.dot {
	width:10px;
	height: 10px;
	display: inline-block;
	border-radius: 50%;
}

.icon-circle {
	font-size: 30px;
	background: #D6DCDF;
	color:$grey;
	width: 40px;
	height: 40px;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
}
