.sidebar {
  background: #212B32;
  width: $sidebar-width;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  padding: 22px $sidebar-padding;
  z-index: 99;
  &__current_time {
    font-family: $gotham-light;
    font-size: 24px;
    color: #FFFFFF;
    line-height: 26px;
    float: left;
  }
  &__lang {
    float: right;
    margin-right: -20px;
    // bootstrap overide
    .dropdown-menu {
      width: 210px;
      top: -10px;
      left: 40px;
      padding: 20px 10px;
      border: none;
      border-radius: 4px;
      &:before {
        position: absolute;
        top: 11px;
        left: -7px;
        display: inline-block;
        border-bottom: 9px solid transparent;
        border-top: 9px solid transparent;
        border-right: 9px solid #ffffff;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        content: '';
      }

      &:after {
        position: absolute;
        top: 12px;
        left: -6px;
        display: inline-block;
        border-bottom: 8px solid transparent;
        border-top: 8px solid transparent;
        border-right: 8px solid #ffffff;
        content: '';
      }
      li{
        a {
          font-family: $gotham-book;
          font-size: 18px;
          color: #212B31;
        }
        img {
          margin-right: 16px;
        }
      }
      li:first-child {
        margin-bottom: 15px;
      }
    }
  }

  &__back {
    border: solid 1px #fff;
    border-radius: 50%;
    height: 100px;
    margin: 100px auto;
    width: 100px;
    font-family: $bebas-regular;
    color: #fff;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    &:hover {
      color: #fff;
      text-decoration: none;
    }
    &__icon {
      display: block;
      margin-bottom: 5px;
      margin-top: 10px;
    }
  }

  &__nav {
    margin-top: 100px;
    ul {
      margin-left: -$sidebar-padding;
      margin-right: -$sidebar-padding;
    }
    li {
      transition: all 0.5s ease-in;
      &:active, &:focus {
        background: rgba(255, 255, 255, 0.05);
        a {
          color: rgba(255, 255, 255, 1);
        }
      }
      &.active {
        background: rgba(255, 255, 255, 0.1);
        border-right: solid 6px $green;
        a {
          color: rgba(255, 255, 255, 1);
          font-family: $gotham-medium;
        }
      }
      a {
        display: block;
        height: 60px;
        line-height: 60px;
        font-family: $gotham-book;
        font-size: 20px;
        letter-spacing: 0;
        padding-left: $sidebar-padding;
        padding-right: $sidebar-padding;
        color: rgba(255, 255, 255, .7);
        text-decoration: none;
      }
    }
  }
  &__slots {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
  }
}
