.envies {
  position: relative;
  &__header {
    height: 450px;
    background:url("../images/envie-header.png") no-repeat;
    background-size: cover;
    margin-left: -$sidebar-padding;
    margin-right: -30px;
    padding-top: 55px;
    text-align: center;
    // display: flex;
    // justify-content: center;
    // align-items: center;
    margin-bottom: -195px;
  }
  &__title {
    font-family: $bebas-bold;
    font-size: 48px;
    color: #212B31;
    letter-spacing: 5.33px;
    margin-bottom: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__icon {
    margin-right: 40px;
    path {
      fill: #000;
    }
  }
  &__subtitle {
    font-family: $header-font;
    font-size: 16px;
    color: #212B31;
    letter-spacing: 0;
    line-height: 22px;
  }
  &__back {
    position: absolute;
    top: 15px;
    left: 90px;
    svg {
      transform: scale(1.5);
      transform-origin: top;
      path {
        fill: #212B31;
      }
    }
  }
  &__carousel-title {
    font-family: $header-font;
    font-size: 24px;
    color: #000000;
    letter-spacing: 0;
    line-height: 28px;
    margin-bottom: 50px;
  }
  &__intro {
    width: 320px;
    padding-left: 40px;
    float: left;
  }
  &__cards {
    float: left;
    width: 560px;
  }
  &__carousel-list {
    @extend .list-unstyled;
    margin-top: 20px;
    li {
      background:url("../images/check-green.png") no-repeat 0px 5px;
      font-family: $header-font;
      padding-left: 38px;
      font-size: 16px;
      color: rgba(33,43,50,0.50);
      letter-spacing: 0;
      line-height: 36px;
    }
  }
}
