.fiche {
  background:#fff;
  &__header {
    height: 400px;
    background-size: cover;
    position: relative;
    margin-left: -$sidebar-padding;
    padding: $sidebar-padding;
    &__content {
      position: absolute;
      bottom: -40px;
      .title {
        font-family: $bebas-bold;
        font-size: 36px;
        color: #fff;

      }
      .subtitle {
        font-size: 20px;
        font-family: $gotham-light;
        font-size: 20px;
        color: #FFFFFF;
        line-height: 26px;
        margin-bottom: 25px;
      }
      .info {
        @extend .list-inline;
        display: flex;
        justify-content: space-between;
        $size: 70px;
        &__avatar {
          border: solid 3px rgba(224, 0, 105, .15);
          border-radius: 50%;
          width: $size;
          height: $size;
          text-align: center;
          background-size: 130%;
          background-position: center center;
          margin-right: 20px;
        }
        &__time {
          background: #fff;
          border: solid 3px rgba(224, 0, 105, .15);
          border-radius: 50%;
          width: $size;
          height: $size;
          text-align: center;
          color: rgba(224, 0, 105, 1);
          font-family: $header-font;
          font-size: 12px;
          color: #212B32;
          margin-right: 20px;
          padding-top: 13px;
          line-height: 1;
          div {
            font-family: $bebas-bold;
            color: $pink;
            font-size: 24px;
          }
        }
        &__difficulty {
          background: #fff;
          border: solid 3px rgba(224, 0, 105, .15);
          border-radius: 50%;
          width: $size;
          height: $size;
          text-align: center;
          color: rgba(224, 0, 105, 1);
          font-family: $header-font;
          font-size: 12px;
          color: #212B32;
          margin-right: 20px;
          padding-top: 13px;
          line-height: 1;
          div {
            font-family: $bebas-bold;
            color: $pink;
            font-size: 24px;
          }
        }
      }
    }
  }
  &__content {

  }
  &__number {
    font-family: $bebas-bold;
    font-size: 24px;
    color: rgba(33,43,50,0.32);
  }
  &__time {

  }
  &__title {
    font-family: $header-font;
    font-size: 48px;
    color: #000000;
    letter-spacing: 0;
  }
  &__description {
    font-family: $header-font;
    font-size: 20px;
    color: #000000;
    letter-spacing: 0;
    line-height: 25px;
  }
  &__material {
    @extend .list-inline;
    margin-top: 30px;
    font-family: $header-font;
    font-size: 12px;
    color: #212B32;
    li {
      margin-right: 30px;
    }
  }
  &__list {
    @extend .list-unstyled;
    margin-top: 60px;
    li {
      background:url("../images/check-green.png") no-repeat 0px 5px;
      font-family: $header-font;
      padding-left: 38px;
      font-size: 16px;
      color: rgba(33,43,50,0.50);
      letter-spacing: 0;
      line-height: 36px;
    }
  }
  &__text {
    margin-top: 40px;
    font-size: 16px;
    color: rgba(0,0,0,0.71);
    letter-spacing: 0;
    line-height: 24px;
  }
}
