.mire {

  &__top {
    position: absolute;
    z-index: 999999;
    top: 70px;
    left: $sidebar-width + $sidebar-padding + $main-content-gutter;
    right: 0;
    display: flex;
    justify-content: space-between;
  }

  &__title-wrap {
    position: absolute;
    z-index: 999999;
    top: 70px;
    left: $sidebar-width + $sidebar-padding + $main-content-gutter;
    right: 0;
    text-align: center;
  }



  &__content {
    position: absolute;
    top: 0;
    bottom:0;
    left: 245px;
    padding-left: $sidebar-padding;
    right: 0;
    background: rgba(0,0,0,0.70);
    box-shadow: 0 2px 10px 0 rgba(0,0,0,0.50);
    display: flex;
    justify-content: space-around;
    align-items: center;
    &--no-sidebar {
      left: 0;
      padding: 0;
      align-items: flex-start;
    }
  }
  &__rankings {
    text-align: center;
    margin-top: 225px;
    &__title {
      font-family: $bebas-regular;
      font-size: 36px;
      color: #FFFFFF;
      letter-spacing: 2px;
      line-height: 58px;
    }
    &__title-2 {
      font-family: $gotham-black;
      font-size: 48px;
      color: #FFFFFF;
      letter-spacing: -1px;
      line-height: 52px;
      margin-bottom: 125px;
    }
    &__item {
      background:#fff;
      border-radius: 50%;
      margin-right: 25px;
      padding: 20px;
      text-transform: uppercase;
      font-family: $bebas-regular;
      font-size: 24px;
      letter-spacing: 2px;
      width: 132px;
      height: 132px;
      box-shadow: 0 6px 12px 0 rgba(33,43,50,0.40);
      &.unselected {
        background:transparent;
        box-shadow: none;
        color: #fff !important;
        opacity: .3;
        svg {
          path {
            fill: #fff;
          }
        }
      }
      &.selected {
        opacity: 1;
        svg {
          opacity: 1;
          path {
            fill: #fff;
          }
        }
      }
      div {
        margin-top: 40px;
      }
      svg {
        display: block;
        margin: auto;
        opacity:.4;
        height: 95px;
      }
      &.pas-cool {
        &.selected {
          background: #E0A500;
        }
        path {
          fill: #E0A500;
        }
        color: #E0A500 !important;
      }
      &.bof {
        &.selected {
          background: #E0DE00;
        }
        path {
          fill: #E0DE00;
        }
        color: #E0DE00 !important;
      }
      &.cool {
        &.selected {
          background: #CCE000;
        }
        path {
          fill: #CCE000;
        }
        color: #CCE000 !important;
      }
      &.trop-cool {
        &.selected {
          background: #A7CD45;
        }
        path {
          fill: #A7CD45;
        }
        color: #A7CD45 !important;
      }
    }
  }
  &__subtitle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .text {
      margin-bottom: 15px;
      font-family: $bebas-bold;
      font-family: $bebas-regular;
      font-size: 20px;
      margin-top: 55px;
      letter-spacing: 1px;
      color: #FFFFFF;
    }
    .toggle-wrap {
      margin: 10px 0 0 50px;
    }
  }

  &__ignore {
    position: absolute;
    bottom: 80px;
    left: 50%;
    margin-left: -125px;
    canvas {
      position: relative;
      z-index: 9;
    }
    .inner {
      border-radius: 50%;
      position: absolute;
      top: 18px;
      bottom: 23px;
      left: 19px;
      right: 17px;
      text-align: center;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        font-family: $gotham-medium;
        text-transform: uppercase;
        font-size: 20px;
        color: #FFFFFF;
        letter-spacing: 0;
      }
    }
    .jauge {
      position: absolute;
      top: 0px;
      left: 0;
      z-index: 0;
    }
  }
  &__countdown {
    position: relative;
    .inner {
      background:$pink;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      bottom: 17px;
      left: 13px;
      right: 12px;
      text-align: center;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0px 16px 0 rgba(33, 43, 50, 0.6);
      .time {
        margin-top: 20px;
        font-family: $bebas-bold;
        font-size: 48px;
        color: #FFFFFF;
        letter-spacing: 1.5px;
        line-height: 40px;
      }
    }
    &__pause {
      display: block;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      border-radius: 50%;
    }
  }
  &__countdown-2 {
    position: relative;
    .inner {
      background:#fff;
      border-radius: 50%;
      position: absolute;
      top: 12px;
      bottom: 17px;
      left: 13px;
      right: 12px;
      text-align: center;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      box-shadow: 0 0px 16px 0 rgba(33, 43, 50, 0.6);
      .time {
        margin-top: 20px;
        font-family: $bebas-bold;
        font-size: 48px;
        color: #000;
        margin-bottom: 5px;
        letter-spacing: 1.5px;
        line-height: 40px;
      }
      .time-2 {
        font-family: $bebas-regular;
        font-size: 14px;
        color: #000000;
        letter-spacing: 1.5px;
        line-height: 20px;
        margin-bottom: 20px;
      }
    }
  }
  &__voice {
    position: relative;
    canvas {
      position: relative;
      z-index: 9;
    }
    .inner {
      border-radius: 50%;
      position: absolute;
      top: 18px;
      bottom: 23px;
      left: 19px;
      right: 17px;
      text-align: center;
      font-size: 20px;
      color: #FFFFFF;
      letter-spacing: 0;
      line-height: 22px;
      display: flex;
      justify-content: center;
      align-items: center;
      .text {
        margin-bottom: 20px;
        font-family: $bebas-bold;
        font-family: $bebas-regular;
        font-size: 20px;
        letter-spacing: 1px;
        color: #FFFFFF;
      }
    }
    .jauge {
      position: absolute;
      top: 3px;
      left: 0;
      z-index: 0;
    }
  }
  &__sound-btns {
    position: absolute;
    bottom:-10px;
    left: 5px;
    right: 0;
    display: flex;
    justify-content: center;
    z-index: 999999;
  }
  &__sound-btn {
    width: 60px;
    height: 60px;
    display: block;
    margin-right: 10px;
    text-align: center;
    float: left;
    line-height: 60px;
    background: #FFFFFF;
    box-shadow: 0 6px 12px 0 rgba(33,43,50,0.40);
    border-radius: 50%;
    font-size: 28px;
    color: #212B31;
    text-decoration: none;
    &:hover {
      color: #212B31;
      text-decoration: none;
    }
    &:active, &:focus {
      color: #212B31;
      background: #eee;
      text-decoration: none;
    }
  }
  // video, image that runs behind
  &__media {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom:0;
    width: 100%;
    height: 100%;
  }
  &__number {
      font-family: $bebas-regular;
      opacity: .3;
      font-size: 24px;
      margin-bottom: -5px;
      color: #fff;
    }
  &__title {
      font-family: $header-font;
      font-size: 48px;
      color: #fff;
      letter-spacing: 0;
      margin-bottom: 15px;
    }
  &__description {
    font-family: $gotham-medium;
    width: 90%;
    font-size: 20px;
    color: #fff;
    letter-spacing: 0;
    line-height: 25px;
  }
  &__material {
    @extend .list-inline;
    margin-top: 15px;
    font-family: $gotham-medium;
    font-size: 11px;
    color: #fff;
    display: flex;
    justify-content: flex-start;
    align-items: baseline;
    li {
      margin-right: 30px;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      svg {
        margin:0 auto 10px;
        path, rect {
          fill: #fff;
        }
      }
    }
    &__difficulty {
      width: 80px;
      height: 80px;
      top: 5px;
      padding: 11px 0;
      text-align: center;
      position: relative;
      border-radius: 50%;
      border: 3px solid rgba(255,255,255,0.16);
      svg {
        margin-bottom: 0px !important;
      }
    }
  }

}
