/* -------------------------------------
 * Fonts
 * ------------------------------------- */
// Google fonts
@import url("https://fonts.googleapis.com/css?family=Roboto|Roboto+Condensed");

// Local fonts (uncomment following lines)

@font-face {
    font-family: 'Gotham Book';
    src: url('../fonts/gotham/gotham-book-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Gotham Bold';
    src: url('../fonts/gotham/gotham-bold-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Gotham Light';
    src: url('../fonts/gotham/gotham-light-webfont.woff2') format('woff2'),
         url('../fonts/gotham/gotham-light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Bebas Regular';
    src: url('../fonts/bebas/bebasneue_regular-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bebas Light';
    src: url('../fonts/bebas/bebasneue_light-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bebas Book';
    src: url('../fonts/bebas/bebasneue_book-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_book-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bebas Bold';
    src: url('../fonts/bebas/bebasneue_bold-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
@font-face {
    font-family: 'Bebas Thing';
    src: url('../fonts/bebas/bebasneue_thin-webfont.woff2') format('woff2'),
         url('../fonts/bebas/bebasneue_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'Have Heart One';
    src: url('../fonts/have_heart_one-webfont.woff2') format('woff2'),
         url('../fonts/have_heart_one-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}
// $my-font: "Font Name";
$base-font: "Gotham Book", "Helvetica", "sans-serif";
$base-font-light: "Gotham Light", "Helvetica", "sans-serif";
$header-font: "Gotham Bold", "Helvetica", "sans-serif";

$font-2: "Bebas Bold";
$font-3: "Bebas Regular";
$font-4: "Have Heart One";

// Font-size and line-height
$base-size: 16px;
$base-height: 1.4;

/* -------------------------------------
 * Colors
 * ------------------------------------- */
// Scheme
$brand-color: #506270;

$red: #EE5F5B;
$blue: #53B6EB;
$blue-2: #1673BC;
$blue-dark: #17212A;
$yellow: #FDB631;
$orange: #E67E22;
// $green: #00A297;

$green: #A7CD45;
$grey: #506270;
$grey-light:#AEB9BF;
$grey-lighter:#DEE3E6;
$light: #E8ECEF;


$pink : #E00069;
$purple: #5F288F;
$turquoise: #00A297;

// layout
$sidebar-width: 255px;
$sidebar-padding: 30px;
$main-content-gutter : 30px;

// slider
$sliderBorderColor: #EEE;
$sliderBGColor: #FFF;
