---
title: Keep Cool
---

<div class="envies">
  <div class="envies__header">
    <div>
      <h1 class="envies__title">Envie de</h1>
      <h2 class="envies__subtitle">Laissez vous guider par votre envie du moment.</h2>
    </div>
  </div>
</div>

<div class="p+">
  <div class="row">
    <% data.envies.each do |envie, category| %>

      <div class="col-md-3">
        <div class="category-card" style="background-image: linear-gradient(rgba(33,43,50,0.50) 0%, rgba(33,43,50,0.50) 100%), url('<%= asset_url category.image %>');">
          <% link_to "envie-de/#{envie}.html", :class => 'category__link' do %>
            <img src="" alt="">
            <div class="category-card__icon">
              <%= image_tag category.icon %>
            </div>
            <div class="category-card__content">
              <div class="category-card__title"><%= category.title %></div>
            </div>
          <% end %>
        </div>
      </div>

     <% end %>
  </div>
</div>
