<div class="pop-loader" style="flex-direction: column;">
  <%= image_tag "logo.png", :class => "mb+" %>
  <h1 class="text-white mb">Liste de toutes les pages</h1>
  <ul>
    <li><a class="text-green" href="a-la-une.html">A la une</a></li>
    <li><a class="text-green" href="envie.html">Envie</a>
    <ul>
      <li><a class="text-green" href="envie-de/amuser.html">Amuser</a></li>
      <li><a class="text-green" href="envie-de/defouler.html">Defouler</a></li>
      <li><a class="text-green" href="envie-de/entrainer.html">Entrainer</a></li>
      <li><a class="text-green" href="envie-de/ressourcer.html">Ressourcer</a></li>
      <li><a class="text-green" href="envie-de/tonifier.html">Tonifier</a></li>
      <li><a class="text-green" href="envie-de/aerer.html">Aerer</a></li>
      <li><a class="text-green" href="envie-de/sport-a-2.html">Sport-a-2</a></li>
      <li><a class="text-green" href="envie-de/preparer-courses.html">Preparer courses</a></li>
    </ul>
    </li>
    <li><a class="text-green" href="thematique.html">Thematique</a></li>
    <li><a class="text-green" href="tous-les-cours.html">Tous les cours</a></li>
    <li class="text-white">Fiches
      <ul>
        <li><a class="text-green" href="fiche/cuisses-fessiers.html">Fiche Cuisses Fessiers</a></li>
        <li><a class="text-green" href="fiche/rpm.html">Fiche RPM</a></li>
        <li><a class="text-green" href="fiche/yoga.html">Fiche Yoga</a></li>
        <li><a class="text-green" href="fiche/pilates.html">Fiche Pilates</a></li>
      </ul>
    </li>
    <li class="text-white">Play
      <ul>
        <li><a class="text-green" href="play/cuisses-fessiers.html">Play Cuisses Fessiers</a></li>
        <li><a class="text-green" href="play/rpm.html">Play RPM</a></li>
        <li><a class="text-green" href="play/yoga.html">Play Yoga</a></li>
        <li><a class="text-green" href="play/pilates.html">Play Pilates</a></li>
        <li><a class="text-green" href="play/success.html">Play Success</a></li>
      </ul>
    </li>

    <li><a class="text-green" href="loading.html">Loading</a></li>

  </ul>
</div>
