<div class="pop-loader" style="flex-direction: column;">
  <%= image_tag "logo.png", :class => "mb+" %>
  <h1 class="text-white mb">Liste de toutes les pages</h1>
  <ul>
    <li><a class="text-green" href="a-la-une.html">Homepage</a> <span class="text-white">(Comprend les slots "fin de cours" et "suivant")</span></li>
    <li><a class="text-green" href="envie.html">Envie</a> <span class="text-white">(Comprend les slots "en cours" et "suivant")</span>
    <ul>
      <li><a class="text-green" href="envie-de/amuser.html">Amuser</a></li>
      <li><a class="text-green" href="envie-de/defouler.html">Defouler</a></li>
      <li><a class="text-green" href="envie-de/entrainer.html">Entrainer</a></li>
      <li><a class="text-green" href="envie-de/ressourcer.html">Ressourcer</a></li>
      <li><a class="text-green" href="envie-de/tonifier.html">Tonifier</a></li>
      <li><a class="text-green" href="envie-de/aerer.html">Aerer</a></li>
      <li><a class="text-green" href="envie-de/sport-a-2.html">Sport-a-2</a></li>
      <li><a class="text-green" href="envie-de/preparer-courses.html">Preparer courses</a></li>
    </ul>
    </li>
    <li><a class="text-green" href="thematique.html">Liste Thematique</a> <span class="text-white">(Comprend les slots "en cours" et "suivant")</span></li>
    <li><a class="text-green" href="tous-les-cours.html">Tous les cours</a> <span class="text-white">(Comprend les slots "en cours" et "suivant")</span></li>
    <li class="text-white">Fiches <span class="text-white">(Comprend les slots "en cours" et "suivant")</span>
      <ul>
        <li><a class="text-green" href="fiche/cuisses-fessiers.html">Fiche Cuisses Fessiers</a>(Comprend le bouton "Remplacer maintenant" et "Réserver ce cours")</li>
        <li><a class="text-green" href="fiche/rpm.html">Fiche RPM</a> (Comprend le bouton "Lancer ce cours")</li>
        <li><a class="text-green" href="fiche/yoga.html">Fiche Yoga</a> (Comprend le texte "Ce cours déamrre a 17h45")</li>
        <li><a class="text-green" href="fiche/pilates.html">Fiche Pilates</a> (Comprend le bouton "Voir le cours suivant")</li>
      </ul>
    </li>
    <li class="text-white">Mire <span class="text-white">(Comprend les slots "en cours (actifs)" et "Vous pouvez réserver un cours")</span>
      <ul>
        <li><a class="text-green" href="mire/cuisses-fessiers.html">Mire Cuisses Fessiers</a> (Comprend mire "demarre dans 0:07")</li>
        <li><a class="text-green" href="mire/rpm.html">Mire RPM</a> (Comprend mire en cours)</li>
        <li><a class="text-green" href="mire/yoga.html">Mire Yoga</a></li>
        <li><a class="text-green" href="mire/pilates.html">Mire Pilates</a></li>
        <li><a class="text-green" href="mire/success.html">Mire Success</a></li>
      </ul>
    </li>

    <li><a class="text-green" href="loading.html">Loading</a></li>

  </ul>
</div>
