---
title: Keep Cool
---

<div class="thematique">
  <div class="thematique__header">
    <% link_to "/", :class => 'thematique__back' do %>
      <%= inline_svg("back") %>
    <% end %>
    <div>
      <h1 class="thematique__title">À la une</h1>
      <h2 class="thematique__main-title">Bikini challenge</h2>
      <h2 class="thematique__subtitle">Laissez vous guider par votre <br> envie du moment.</h2>
    </div>
  </div>
</div>

<div class="thematique__content">
  <div class="row">
      <% data.lessons.envies.each do |lesson| %>
          <div class="col-md-4">
            <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
          </div>
      <% end %>
    </div>
    <div class="row">
      <% data.lessons.top.each do |lesson| %>
          <div class="col-md-4">
            <%= partial "partials/card", :locals => { :img => lesson.image, :time => lesson.time, :title => lesson.title, :description => lesson.description, :difficulty => lesson.difficulty } %>
          </div>
      <% end %>
    </div>
</div>
